{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
        
</head>
<body>
    <header>
        <h1>Welcome to Your Dashboard, {{ custom_user.first_name }}</h1>
    </header>
    
    <section class="dashboard">
        {% if health_profile %}
        <div class="profile-section">
            <h2>Your Health Profile</h2>
            <ul>
                <li><strong>Allergies:</strong> {{ health_profile.allergies }}</li>
                <li><strong>Height:</strong> {{ health_profile.height }} cm</li>
                <li><strong>Weight:</strong> {{ health_profile.weight }} kg</li>
                <li><strong>Age:</strong> {{ health_profile.age }}</li>
                <li><strong>Gender:</strong> {{ health_profile.get_gender_display }}</li>
                <li><strong>Blood Group:</strong> {{ health_profile.blood_group }}</li>
                <li><strong>Emergency Contact:</strong> {{ health_profile.emergency_contact }}</li>
            </ul>
            <div class="profile-picture">
                <img src="{{ health_profile.profile_picture.url }}" alt="Profile Picture">
            </div>
        </div>
        {% endif %}
        
        <!-- Add other dashboard sections as needed -->
    </section>
</body>
</html>
