{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Health Profile Form</h2>
                    <p>Enter your blood pressure, blood sugar, and cholesterol reading here</p>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.blood_pressure.id_for_label }}">Blood Pressure:</label>
                            {{ form.blood_pressure }}
                            {{ form.blood_pressure.errors }}  <!-- Display validation errors -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.blood_glucose.id_for_label }}">Blood Glucose Level:</label>
                            {{ form.blood_glucose }}
                            {{ form.blood_glucose.errors }}  <!-- Display validation errors -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.cholesterol.id_for_label }}">Cholesterol Levels (JSON):</label>
                            {{ form.cholesterol }}
                            {% if form.errors.cholesterol %}
                                <span class="text-danger">{{ form.errors.cholesterol.0 }} Please follow format like this {"hdl": 50, "ldl": 80 }</span>
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
