[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.5"
djangorestframework = "==3.14.0"
pytz = "==2023.3.post1"
sqlparse = "==0.4.4"
Pillow = "==10.0.1"
numpy = "==1.26.0"
pandas = "==2.1.1"
pulp = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.9"
